:root {
  /* color */
  --white: #ffffff;
  --black: #000000;
  --cta-color: #136c6c;

  /* font size */
  --fs-08: 0.8rem;
  --fs-1: 1rem;
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-125: 1.25rem;
  --fs-13: 1.3rem;
  --fs-135: 1.35rem;
  --fs-14: 1.4rem;
  --fs-145: 1.45rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-2: 2rem;
  --fs-22: 2.2rem;
  --fs-24: 2.4rem;
  --fs-25: 2.5rem;
  --fs-26: 2.6rem;
  --fs-28: 2.8rem;
  --fs-3: 3rem;
  --fs-32: 3.2rem;
  --fs-34: 3.4rem;
  --fs-35: 3.5rem;

  /* border radius */
  --border-radius-20: 20px;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  /* background: var(--background); */
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Cormorant", sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
