.copyrightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--white);
  padding-top: 2rem;
  margin-top: 3rem;
  gap: 10px;
  font-size: var(--fs-1);
  text-align: center;
  /* font-weight: 700; */
  color: rgba(255, 255, 255, 0.8);
}
.authorContainer p a {
  color: var(--white);
  transition: all 0.3s ease;
}
.authorContainer p a:hover,
.authorContainer p a:focus {
  color: (255, 255, 255, 0.8);
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .copyrightSection {
    width: 80%;
    margin: 3rem auto 0 auto;
    font-size: var(--fs-11);
  }
}
@media (min-width: 1024px) {
  .copyrightSection {
    width: 90%;
    flex-direction: row;
    justify-content: center;
    font-size: var(--fs-12);
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .copyrightSection {
    font-size: var(--fs-13);
  }
}
