.galleryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 4rem 0;
  gap: 3rem;
}
.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin: 0 auto 1rem auto;
}
.titleSection h1 {
  font-size: var(--fs-26);
}
.titleSection span {
  font-size: var(--fs-1);
  color: var(--cta-color);
  opacity: 0.8;
}

.sliderContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  align-items: center;
  text-align: center;
}
.image {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  gap: 1rem;
}
.image h2 {
  font-size: var(--fs-14);
}
.image h2 span {
  color: var(--cta-color);
}

@media (min-width: 768px) {
  .titleSection h1 {
    font-size: var(--fs-28);
  }
  .titleSection span {
    font-size: var(--fs-11);
  }
  .image {
    width: 81%;
  }
  .image h2 {
    font-size: var(--fs-16);
  }
}
@media (min-width: 1024px) {
  .titleSection h1 {
    font-size: var(--fs-3);
  }
  .titleSection span {
    font-size: var(--fs-12);
  }
  .sliderContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .image {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .titleSection h1 {
    font-size: var(--fs-32);
  }
  .titleSection span {
    font-size: var(--fs-13);
  }
  .image {
    width: 48%;
  }
}
