.officeCleaningPage {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 4rem 0;
  gap: 3rem;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  /* min-height: 80vh; */
  width: 90%;
  margin: 0 auto;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.heroContent h1 {
  font-size: var(--fs-26);
  /* font-size: clamp(2.5rem, 4vw, 3.5rem); */
  line-height: 1.1;
}

.subtitle {
  font-size: var(--fs-1);
  color: var(--cta-color);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.primaryButton {
  padding: 0.9rem 1.6rem;
  border-radius: 8px;
  background: var(--cta-color);
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
  width: 80%;
}

.secondaryButton {
  padding: 0.9rem 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--cta-color);
  color: var(--cta-color);
  text-decoration: none;
  width: 70%;
}

.heroImage {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

/* INTRO */
.intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  /* padding: 0 6vw; */
  margin: 0 auto;
}

.intro h2 {
  font-size: var(--fs-18);
}

.intro p {
  font-size: var(--fs-1);
}

/* SERVICES */
.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.services h2 {
  font-size: var(--fs-18);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.serviceCard {
  flex: 1 1 calc(33.333% - 1.5rem);
  min-width: 240px;
  padding: 1.5rem;
  border-radius: 20px;
  background: var(--cta-color);
  font-weight: 500;
  color: var(--white);
}

/* VALUES */
.values {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.value {
  flex: 1;
  padding: 2rem;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(19, 108, 108, 0.6) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 1px solid #eee;
  width: 90%;
  margin: 0 auto;
  font-size: var(--fs-1);
}

.value h3 {
  margin-bottom: 0.5rem;
  font-size: var(--fs-14);
}

.value p {
  color: var(--black);
  opacity: 0.8;
  font-size: var(--fs-1);
}

/* FINAL CTA */
.finalCta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 4rem 6vw;
  background: var(--cta-color);
  border-radius: 32px;
  width: 90%;
  margin: 0 auto;
}

.finalCta h2 {
  font-size: var(--fs-2);
  color: var(--white);
}

.finalCta p {
  max-width: 600px;
  font-size: var(--fs-1);
  color: var(--white);
}
.finalCta a {
  background: var(--white);
  color: var(--cta-color);
  font-size: var(--fs-1);
}

@media (min-width: 590px) {
  .hero,
  .intro,
  .services,
  .value,
  .finalCta {
    width: 81%;
  }
  .actions {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .primaryButton,
  .secondaryButton {
    width: 45%;
  }
  .heroImage {
    height: 450px;
  }
}

@media (min-width: 768px) {
  .heroContent h1 {
    font-size: var(--fs-28);
  }

  .subtitle {
    font-size: var(--fs-11);
  }
  .actions {
    align-items: center;
    justify-content: center;
  }
  .primaryButton,
  .secondaryButton {
    width: 40%;
    font-size: var(--fs-11);
    text-align: center;
  }
  .intro h2 {
    font-size: var(--fs-2);
  }

  .intro p {
    font-size: var(--fs-11);
  }
  .services h2 {
    font-size: var(--fs-2);
  }
  .serviceCard {
    font-size: var(--fs-11);
  }
  .value h3 {
    font-size: var(--fs-16);
  }
  .value p {
    font-size: var(--fs-11);
  }
  .finalCta h2 {
    font-size: var(--fs-22);
  }
  .finalCta p {
    font-size: var(--fs-11);
  }
  .finalCta a {
    font-size: var(--fs-11);
  }
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }
  .heroContent {
    width: 60%;
    gap: 2rem;
  }
  .heroContent h1 {
    text-align: center;
    font-size: var(--fs-32);
  }
  .subtitle {
    font-size: var(--fs-12);
  }
  .primaryButton,
  .secondaryButton {
    width: 48%;
    font-size: var(--fs-12);
  }
  .heroImage {
    width: 60%;
    height: 350px;
  }
  .intro h2 {
    font-size: var(--fs-22);
  }

  .intro p {
    font-size: var(--fs-12);
  }
  .services h2 {
    font-size: var(--fs-22);
  }
  .serviceCard {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-12);
  }
  .values {
    width: 81%;
    flex-direction: row;
    margin: 0 auto;
  }
  .value h3 {
    font-size: var(--fs-18);
  }
  .value p {
    font-size: var(--fs-12);
  }
  .finalCta {
    gap: 2rem;
  }
  .finalCta h2 {
    font-size: var(--fs-24);
  }
  .finalCta p {
    font-size: var(--fs-12);
  }
  .finalCta a {
    width: 40%;
    font-size: var(--fs-12);
  }
}
@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
  }
  .heroContent {
    width: 60%;
    gap: 2rem;
  }
  .heroContent h1 {
    font-size: var(--fs-32);
  }
  .subtitle {
    font-size: var(--fs-12);
  }
  .primaryButton,
  .secondaryButton {
    width: 48%;
    font-size: var(--fs-12);
  }
  .heroImage {
    height: 400px;
  }
  .intro h2 {
    font-size: var(--fs-24);
  }

  .intro p {
    font-size: var(--fs-13);
  }
  .services h2 {
    font-size: var(--fs-24);
  }
  .serviceCard {
    font-size: var(--fs-13);
  }

  .value h3 {
    font-size: var(--fs-2);
  }
  .value p {
    font-size: var(--fs-13);
  }
  .finalCta {
    gap: 2rem;
  }
  .finalCta h2 {
    font-size: var(--fs-26);
  }
  .finalCta p {
    font-size: var(--fs-13);
  }
  .finalCta a {
    width: 40%;
    font-size: var(--fs-13);
  }
}
