.reviewFormPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 4rem 0;
  gap: 1rem;
  /* background: linear-gradient(
    180deg,
    rgba(19, 108, 108, 1) 0%,
    rgba(255, 255, 255, 1) 70%
  ); */
}
.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  gap: 1rem;
  margin: 0 auto 1rem auto;
}
.titleSection h1 {
  font-size: var(--fs-26);
}
.titleSection span {
  font-size: var(--fs-1);
  color: var(--cta-color);
  opacity: 0.8;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 90%;
  border: 1px solid var(--cta-color);
  padding: 2rem 1rem;
  border-radius: 20px;
  /* max-width: 400px; */
}
.infosContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input,
.form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--cta-color);
  /* border: 1px solid #ddd; */
  font-size: 15px;
  color: var(--black);
  font-size: var(--fs-1);
}
/* .form input:focus {
  border: 1px solid var(--black);
} */

.form textarea {
  resize: vertical;
  min-height: 120px;
}

.ratingLabel {
  font-size: var(--fs-1);
  font-weight: 500;
  /* margin-bottom: 6px; */
  display: block;
  color: var(--black);
  opacity: 0.55;
  /* padding: 0 0 0 10px; */
}

.stars {
  display: flex;
  gap: 8px;
  font-size: 2rem;
  cursor: pointer;
}

.starEmpty {
  color: #ccc;
  transition:
    color 0.25s,
    transform 0.2s;
}

.starFilled {
  color: gold;
  transform: scale(1.1);
  transition:
    color 0.25s,
    transform 0.2s;
}

.starEmpty:hover,
.starFilled:hover {
  transform: scale(1.25);
}

.form button {
  padding: 10px;
  background: var(--cta-color);
  color: white;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: var(--fs-1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover,
.form button:focus {
  border: 1px solid var(--cta-color);
  color: var(--cta-color);
  background: transparent;
  transition: all 0.3s ease;
}
.form button:disabled {
  opacity: 0.6;
  cursor: default;
}

.success {
  font-size: var(--fs-1);
  color: green;
}

.error {
  font-size: var(--fs-1);
  color: red;
}
.legal {
  /* width: 90%; */
  font-size: var(--fs-1);
}
.legalLink {
  font-size: var(--fs-1);
  color: var(--cta-color);
}

@media (min-width: 768px) {
  .titleSection,
  .form {
    width: 81%;
  }
  .titleSection h1 {
    font-size: var(--fs-28);
  }
  .titleSection span {
    font-size: var(--fs-11);
  }
  .infosContainer {
    flex-direction: row;
  }
  .infosContainer input {
    width: 49%;
  }
  .form input,
  .form textarea,
  .ratingLabel,
  .form button,
  .legal,
  .legalLink {
    font-size: var(--fs-11);
  }
  .form button {
    width: 40%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .titleSection h1 {
    font-size: var(--fs-3);
  }
  .titleSection span {
    font-size: var(--fs-12);
  }
  .form {
    max-width: 700px;
  }
  .form input,
  .form textarea,
  .ratingLabel,
  .form button,
  .legal,
  .legalLink {
    font-size: var(--fs-12);
  }
}
@media (min-width: 1280px) {
  .titleSection h1 {
    font-size: var(--fs-32);
  }
  .titleSection span {
    font-size: var(--fs-13);
  }
  .stars {
    font-size: 2.5rem;
  }

  .form input,
  .form textarea,
  .ratingLabel,
  .form button,
  .legal,
  .legalLink {
    font-size: var(--fs-13);
  }
}
