.reviewsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 4rem 0;
  gap: 3rem;
  /* background: linear-gradient(
    180deg,
    rgba(19, 108, 108, 1) 0%,
    rgba(255, 255, 255, 1) 70%
  ); */
}
.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  gap: 1rem;
  margin: 0 auto 1rem auto;
}
.titleSection h1 {
  font-size: var(--fs-26);
}
.titleSection span {
  font-size: var(--fs-1);
  color: var(--cta-color);
  opacity: 0.8;
}
.noReviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  margin: 0 auto;
}
.noReviewsContainer p {
  font-size: var(--fs-1);
}

.averageRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  font-size: var(--fs-14);
  gap: 1rem;
}
.averageRating p {
  font-size: var(--fs-14);
}
.averageRating span {
  font-size: var(--fs-12);
}
.button {
  display: flex;
  gap: 5px;
  padding: 15px;
  margin: 0 auto 1rem auto;
  width: 60%;
  background: transparent;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border: 1px solid var(--cta-color);
}
.button button {
  background: transparent;
  border: none;
  font-size: var(--fs-1);
  color: var(--cta-color);
  cursor: pointer;
}
.button:hover img,
.button:focus img {
  transform: translateX(5px);
  transition: all 0.4s ease;
}

.reviewsContainer {
  width: 100%;
  overflow-x: auto;
  padding: 10px 0;
  /* Scrollbar pour Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--cta-color) transparent;
}

/* Scrollbar pour Chrome, Edge, Safari */
.reviewsContainer::-webkit-scrollbar {
  height: 8px; /* hauteur de la scrollbar horizontale */
}

.reviewsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.reviewsContainer::-webkit-scrollbar-thumb {
  background-color: var(--cta-color);
  border-radius: 4px;
  border: 2px solid transparent; /* pour un peu de padding visuel */
  background-clip: content-box;
}

.reviewsContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--cta-color);
}

/* Scroll horizontal + snap */
.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  list-style: none;
  /* overflow-x: auto; */
  /* scroll-snap-type: x mandatory; */
  /* scrollbar-width: none;  */
}

/* Carte de chaque avis */
.review {
  flex: 0 0 170px; /* largeur d'une "slide" */
  scroll-snap-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);
  height: 170px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.review div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.review strong {
  font-size: var(--fs-12);
}
.review p {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5; /* ≈ nombre de lignes visibles avant "…" */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* --- Modal Container --- */
.modalContainer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 9999;
}

.modalContainer.active {
  opacity: 1;
  pointer-events: auto;
}

/* --- Background overlay --- */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: 0.3s ease;
}

.overlay.active {
  opacity: 1;
}

/* --- Modal Box --- */
.reviewModal {
  position: relative;
  width: 90%;
  max-width: 550px;
  padding: 2rem;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  z-index: 10;
  animation: modalFade 0.25s ease;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Close button */
.modalCloseBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: var(--fs-14);
  cursor: pointer;
}

/* Header */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalHeader h3 {
  font-size: var(--fs-14);
}

.stars span {
  font-size: var(--fs-12);
}

/* Content */
.modalContent p {
  font-size: var(--fs-1);
  line-height: 1.6;
}

@media (min-width: 590px) {
  .review {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .titleSection h1 {
    font-size: var(--fs-28);
  }
  .titleSection span {
    font-size: var(--fs-11);
  }

  .noReviewsContainer p {
    font-size: var(--fs-11);
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2rem;
  }
  .averageRating {
    margin: 0;
    font-size: var(--fs-15);
  }
  .averageRating p {
    font-size: var(--fs-15);
  }
  .averageRating span {
    font-size: var(--fs-13);
  }

  .button {
    width: 30%;
    margin: 0;
  }
  .button button {
    font-size: var(--fs-11);
  }
  .reviewsList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .review {
    flex: 0 0 48%;
  }
  .review strong {
    font-size: var(--fs-13);
  }
  .modalHeader h3 {
    font-size: var(--fs-15);
  }
  .stars span {
    font-size: var(--fs-13);
  }
  .modalContent p {
    font-size: var(--fs-11);
  }
}

@media (min-width: 1024px) {
  .titleSection h1 {
    font-size: var(--fs-3);
  }
  .titleSection span {
    font-size: var(--fs-12);
  }

  .noReviewsContainer p {
    font-size: var(--fs-12);
  }

  .averageRating {
    font-size: var(--fs-16);
  }
  .averageRating p {
    font-size: var(--fs-16);
  }
  .averageRating span {
    font-size: var(--fs-14);
  }
  .button {
    width: 20%;
    margin: 0;
  }
  .button button {
    font-size: var(--fs-12);
  }
  .reviewsList {
    width: 81%;
    margin: 0 auto;
  }
  .review strong {
    font-size: var(--fs-14);
  }
  .reviewModal {
    max-width: 81%;
  }
  .modalHeader h3 {
    font-size: var(--fs-16);
  }
  .stars span {
    font-size: var(--fs-14);
  }
  .modalContent p {
    font-size: var(--fs-12);
  }
}

@media (min-width: 1280px) {
  .titleSection h1 {
    font-size: var(--fs-32);
  }
  .titleSection span {
    font-size: var(--fs-13);
  }

  .noReviewsContainer p {
    font-size: var(--fs-13);
  }
  .averageRating {
    margin: 0;
    font-size: var(--fs-17);
  }
  .averageRating p {
    font-size: var(--fs-17);
  }
  .averageRating span {
    font-size: var(--fs-15);
  }

  .button button {
    font-size: var(--fs-13);
  }

  .review {
    flex: 0 0 31%;
  }
  .review strong {
    font-size: var(--fs-17);
  }
  .reviewModal {
    max-width: 60%;
    margin: 0 auto;
  }

  .modalHeader h3 {
    font-size: var(--fs-2);
  }
  .stars span {
    font-size: var(--fs-17);
  }
  .modalContent p {
    font-size: var(--fs-13);
  }
}
